/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* fonts */
@font-face {
    font-family: "Gilroy";
    font-weight: 800;
    font-style: normal;
    src: local("Gilroy"),
         url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
  }

  @font-face {
    font-family: "Gilroy";
    font-weight: 300;
    font-style: normal;
    src: local("Gilroy"),
         url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
  }

  @font-face {
    font-family: "Open sans";
    font-weight: 300;
    font-style: normal;
    src: local("Open sans"),
         url("../fonts/opensanslight.woff2") format("woff2"),
         url("../fonts/opensanslight.woff") format("woff");
  }

  @font-face {
    font-family: "Open sans";
    font-weight: 400;
    font-style: normal;
    src: local("Open sans"),
         url("../fonts/opensans.woff2") format("woff2"),
         url("../fonts/opensans.woff") format("woff");
  }

/* Variables */
:root {
    --transparent: rgba(0, 0, 0, 0);
    --opacity-30: rgba(0, 0, 0, 0.3);
    --opacity-30-white: rgba(255, 255, 255, 0.3);
    --opacity-40: rgba(0, 0, 0, 0.4);
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-grey: #464646;
    --basic-half-grey: #7e7e7e;
    --basic-grey-light: #e5e5e5;
    --basic-white: #FFFFFF;
    --basic-grey-buttons: #D9D9D9;
    --for-filter: #DCDCDC;

    --special-yellow: #f0c52e;
    --special-light-yellow: #f7e296;
    --special-green: #91c92f;
    --special-grey: #F2F2F2;
    --special-grey-hover: #EAEAEA;
    --special-card-overlay: rgba(238, 238, 238, 0.7);

    --status-color: #f6dada;
}

/* Global */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

*::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

.page {
    height: 100%;
}

.page-body {
    font-family: 'Open sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: var(--basic-black);
    min-width: 1440px;

    min-height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
    -ms-grid-rows: min-content 1fr min-content;
    grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
    grid-template-rows: min-content 1fr min-content;
    overflow-x:hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        -webkit-clip-path: inset(100%);
                clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.button {
    font-family: 'Gilroy', Arial, sans-serif;
    color: var(--basic-black);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: 0.2em;
    text-transform: uppercase;

    text-align: center;
    display: block;
    padding-bottom: 9px;
    padding-top: 9px;
    background-image: -o-linear-gradient(bottom,
        var(--transparent) 16px,
        var(--special-yellow) 16px,
        var(--special-yellow) 24px,
        var(--transparent) 24px,
        var(--transparent) 40px);
    background-image: linear-gradient(to top,
        var(--transparent) 16px,
        var(--special-yellow) 16px,
        var(--special-yellow) 24px,
        var(--transparent) 24px,
        var(--transparent) 40px);

}

.button:active {
    color: var(--opacity-30);
}

.button:hover {
    background-color: var(--special-yellow);
}

.title {
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px; 
    letter-spacing: 0.2em;
    margin: 0;
}

.content {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header {
    margin-top: 40px;
    background-color: var(--special-light-yellow);
}

.header-top-line {
    grid-column: 1/-1;

    display: -ms-grid;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
}

.header-content {
    padding:0 60px;
}

.options-nav {
    color: var(--basic-black);
    list-style: none;
    margin: 0;
    padding: 0;
}

.options-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 20px;
    padding-top: 15px;
}

.login-list {
    margin-right: auto;
}

.quit-link {
    margin-left: -40px;
} 

.login-link,
.compare-link,
.bag-link {
    padding-left: 25px;
    position: relative;
}

.login-link::before,
.compare-link::before,
.bag-link::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;

}

.login-link::before {
    width: 13px;
    height: 14px;
    background: url(../assets/svg/icon_user_black.svg) no-repeat;
}

.compare-link::before {
    width: 14px;
    height: 14px;
    background: url(../assets/svg/icon_chart_black.svg) no-repeat;
}

.bag-link::before {
    width: 10px;
    height: 10px;
    background: url(../assets/svg/icon_cart_black.svg) no-repeat;
}

.bag-list {
    margin-left: 40px;
}

.header-nav {
    font-family: 'Gilroy', Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    grid-column: 1/-1;
}

.header-nav-list {
    margin: 0;
    padding: 0;
    padding-bottom: 164px;
    list-style: none;

    display: -ms-grid;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.catalog-links {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.catalog-links:hover,
.catalog-links:focus,
.catalog-links:focus-within {
    z-index: 1;
}

.catalog-link-0 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    /* margin-bottom: 30px; */
    position: relative;
}

.catalog-link-1 {
    padding-left: 20px;
}

.catalog-link-2 {
    padding-left: 6px;
}

.catalog-link-0::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    background: url(../assets/svg/icon_plus.svg) no-repeat;
    left: 233px;
}

.catalog-link-3 {
    justify-self: flex-end;
}

.catalog-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--special-light-yellow);
    height: 165px;
    width: 1160px;

    position: absolute;
    z-index: -1;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 570px;
    margin-left: -60px;
}

.catalog-nav li {
    font-family: 'Open sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    text-transform: none;
    letter-spacing: normal;
}

.catalog-nav li:nth-child(5) {
    padding-bottom: 20px;
}

.header a {
    color: var(--basic-black);
}

.header a:hover,
.header a:focus {
    opacity: 60%;
}

.header a:active {
    opacity: 30%;
}

.main-logo img{
    cursor: pointer;
}

.main-logo-wrapper {
    margin-bottom: 15px;
    margin-top: -20px;
    width: 163px;
    height: 35px;
}

.search-header-field {
    background:transparent url(../assets/svg/icon_search.svg) no-repeat;
    background-position:0 18px;
    border: none;
    padding-left: 38px;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 356px;
    font: inherit;
    border: 2px solid var(--transparent);
    height: 50px;
}
.search-header:focus-within .button-header {
    display: block;
    border-bottom: 2px solid var(--basic-black);
}

.search-header-field:focus,
.search-header-field:focus-within {
    height: 50px;
    border-bottom: 2px solid var(--basic-black);
}

.search-header-field:focus +.button-header,
.search-header-field:focus-within +.button-header {
    display: block;
}

.button-header:active + .search-header-field:focus,
.button-header:active + .search-header-field:focus-within {
    border-bottom: 2px solid var(--basic-black);
}

.search-header {
    position: relative;
}

.button-header {
    display: none;
    position: absolute;
    background-color: var(--transparent);
    left: 356px;
    top: 0;
    height: 50px;
    width: 84px;
    border:2px solid var(--basic-black);
    cursor: pointer;
}

.button-header:hover,
.button-header:focus {
    background-color: var(--basic-black);
    color: var(--basic-white);
}

.button-header:active {
    background-color: var(--basic-black);
    color: var(--opacity-30-white);
}

.search-header-field,
.button-header {
    outline: none;

}

/* Main */
/* Slider */
.slider {
    margin-bottom: 115px;
    position: relative;
}

.slider-item {
    margin-top: -145px;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    min-height: 506px;
}

.slider-active {
    display: -ms-grid;
    display: grid;
    -webkit-transition: 0.5 ease-in-out;
    -o-transition: 0.5 ease-in-out;
    transition: 0.5 ease-in-out;
}

.slider-item h3 {
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    margin-top: -110px;
    margin-bottom: 30px;
}

.slider-item p {
    width: 475px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 48px;
}

.slider-img {
    margin: auto;
}

.slider-content {
    position: relative;
    margin-left: 20px;
}

.btn-slider {
    margin-bottom: 50px;
    width: 220px;
    padding-left: 43px;
    padding-right: 43px;
}

.slider-dec-element::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 7px;
    top: 51px;
    background-color: var(--basic-white);

}

.slider-number {
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 179px;
    line-height: 219px;
    text-transform: uppercase;
    text-align: right;
    color: var(--basic-white);
    margin-right: 50px;
}

.slider-table {
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    letter-spacing: 0.1em;
}

.slider-table th{
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0.1em;
    padding-right: 64px;
}

.slider-table-title {
    padding-bottom: 10px;
}

.slider-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 18px;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 88px;
    bottom: 137px;
}

.slider-slider-btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 1px solid var(--basic-black);
    border-radius: 50%;
    cursor: pointer;
  }

.slider-btn-current:before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;

    background-color: transparent;
    border: 1px solid var(--basic-black);
    border-radius: 50%;
  }


/* Popular */
.popular {
    margin-bottom: 69px;
}

.popular-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr 40px 1fr 40px 1fr;
    grid-template-columns: repeat(6, 1fr);
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
}

.popular-item {
    width: 160px;
}

.popular-item p {
    margin: 0;
}

.popular-item span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 160px;
    height: 160px;
    margin-bottom: 38px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.popular-item span {
    background-color: var(--special-light-yellow);
}

.popular-item a:hover span{
    background-color: var(--special-yellow);
}

.popular-item:active p,
.popular-item a:active  .popular-img{
    opacity: 30%;
}

.popular-item span:active{
    background-color: var(--special-yellow);
}

.popular-item a {
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    color: var(--basic-black);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    margin: 0;
}

/* Services */
.services-background {
    background-image: -o-linear-gradient(var(--basic-white) 115px,var(--basic-grey-light) 115px);
    background-image: linear-gradient(var(--basic-white) 115px,var(--basic-grey-light) 115px);
    margin-bottom: 90px;
}

.services {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 284px 116px auto;
    grid-template-columns: 284px auto;
    -webkit-column-gap: 116px;
       -moz-column-gap: 116px;
            column-gap: 116px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 68px;
}

.services-nav-wrap {
    -ms-flex-item-align: start;
        align-self: flex-start;
    position: relative;
    padding-top: 80px;
    padding-bottom: 79px;
    /* border-right: 7px solid var(--basic-black); */
}

.services-nav-wrap::before {
    content: "";
    position: absolute;
    left: 277px;
    top: 0;
    width: 7px;
    height: 100%;
    background-color: var(--basic-black);
}

.services-title {
    padding-top: 60px;
}

.services-nav {
    margin: 0;
    padding: 0;
    list-style: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 20px;
}

.services-item {
    display: none;
}

.services-active {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, auto);
    -ms-grid-rows: auto 30px auto;
    grid-template-rows: repeat(2, auto);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 30px;
}

.services-active > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.services-active > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.services-active > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.services-active > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
}

.services-img {
    -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    grid-column: -1/-2;
    padding-top: 30px;
}

.services-item p{
    width: 495px;
    line-height: 30px;
    letter-spacing: 0.1em;
}

.button-services-active {
    color: var(--special-light-yellow);
    padding-right: 120px;
    width: 280px;

    background-image: -webkit-gradient(linear,
    left bottom, left top,
    from(var(--basic-black)),
    to(var(--basic-black)));

    background-image: -o-linear-gradient(bottom,
    var(--basic-black),
    var(--basic-black));

    background-image: linear-gradient(to top,
    var(--basic-black),
    var(--basic-black));
}

.button-services-active:hover {
    color: var(--special-light-yellow);
    padding-right: 120px;
    width: 280px;

    background-image: -webkit-gradient(linear,
    left bottom, left top,
    from(var(--basic-black)),
    to(var(--basic-black)));

    background-image: -o-linear-gradient(bottom,
    var(--basic-black),
    var(--basic-black));

    background-image: linear-gradient(to top,
    var(--basic-black),
    var(--basic-black));
}

.button-services {
    min-width: 160px;
    text-align: center;
}

.button-services:active {
    color: var(--special-light-yellow);
    padding-right: 120px;
    width: 280px;

    background-image: -webkit-gradient(linear,
    left bottom, left top,
    from(var(--basic-black)),
    to(var(--basic-black)));

    background-image: -o-linear-gradient(bottom,
    var(--basic-black),
    var(--basic-black));

    background-image: linear-gradient(to top,
    var(--basic-black),
    var(--basic-black));
}

/* Brands */
.brands {
    margin-bottom: 90px;
}

.brands-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: -ms-grid;

    display: grid;
    -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
}

.brands-list a {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    opacity: 30%;
}

.brands-list a:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    opacity: 100%;
}

/* About us */
.container-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 475px 40px 560px;
    grid-template-columns: 475px 560px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 40px;
    margin-bottom: 77px;
}

.contacts::before,
.about-us::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 80px;
    height: 7px;
    background-color: var(--basic-black);
}

.contacts,
.about-us {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.about-us .title,
.contacts .title {
    margin-bottom: 50px;
    padding-top: 50px;
}

.contacts-content p,
.about-us-content p {
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 28px;
}

.contacts-content-map {
    margin-bottom: 68px;
    display: block;
}

.delivery-list {
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 68px;
}

.delivery-item {
    padding-top: 15px;
    list-style: none;
    position: relative;
}

.delivery-item::before {
    position: absolute;
    content: "";
    left: -40px;
    top: 25px;
    width: 8px;
    height: 8px;
    border: 2px solid var(--basic-grey-light);
    border-radius: 50%;

}

.btn-about-us,
.btn-contacts {
    min-width: 260px;
    margin-top: auto;
}

/* Footer */
.footer {
    background-color: var(--basic-dark);
}

.footer-wrapper {
    padding-top: 46px;
}

.top-line-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 53px;

    margin-bottom: 40px;
}

.middle-line-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 67px;
}

.bottom-line-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 64px;
    position: relative;
}

.main-logo-footer {
    cursor: pointer;
    -ms-flex-item-align: end;
        align-self: flex-end;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.options-footer {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.options-footer-item {
    padding-left: 65px;
    position: relative;
}

.login-link-footer::before,
.compare-link-footer::before,
.bag-link-footer::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 45px;

}

.login-link-footer::before {
    width: 13px;
    height: 14px;
    background: url(../assets/svg/icon_user.svg) no-repeat;
}

.compare-link-footer::before {
    width: 14px;
    height: 14px;
    background: url(../assets/svg/icon_chart.svg) no-repeat;
}

.bag-link-footer::before {
    width: 10px;
    height: 10px;
    background: url(../assets/svg/icon_cart.svg) no-repeat;
}

.opacity-footer a{
    color: var(--basic-white);
    opacity: 70%;
}

.opacity-footer a:hover{
    opacity: 100%;
}

.footer a:active{
    opacity: 30%;
}

.footer a{
    color: var(--basic-white);
    opacity: 100%;
}

.footer a:hover{
    opacity: 70%;
}

.footer a:active{
    opacity: 30%;
}

.address-footer{
    font-family: 'Open sans', Arial, sans-serif;
    color: var(--basic-white);
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    max-width: 320px;
}

.footer-nav {
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 32px;
    margin-left: -70px;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
    padding-left: 20px;
}

.footer-dec-element:before {
    position: absolute;
    content: "";
    width: 80px;
    height: 7px;
    background-color: var(--special-yellow);
    top: 11px;
}

/* Catalog */
.catalog-title {
    grid-column: 1/-1;
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-top: 43px;
    margin-top: -115px;
    background-color: var(--basic-white);
}

.breadcrumbs {
    grid-column: 1/-1;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    padding-left: 60px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.breadcrumbs li {
    list-style: none;
    font-size: 14px;
    line-height: 19px;
    position: relative;
    padding-right: 40px;
}

.breadcrumbs li + li::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background: url(../assets/svg/icon_arrow_nav.svg) no-repeat;
    top: 2px;
    left: -25px;
}

.breadcrumbs li span:last-child{
    font-size: 14px;
    line-height: 19px;
    opacity: 30%; 
    margin-right: 0;
}

/* .breadcrumbs-current::after {
    display: none;
} */
 
.breadcrumbs a{
    color: var(--basic-black);
    font-size: 14px;
    line-height: 19px;
    opacity: 30%;
}

.breadcrumbs a:hover {
    opacity: 60%;
}

.breadcrumbs a:active {
    opacity: 10%;
}

/* Filter section */
.section-products {
    margin-top: 70px;
}

.filter-products {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 268px 72px 1fr;
    grid-template-columns: 268px 1fr;
    gap: 72px;
    background-color: var(--basic-grey-light);
    /* margin-bottom: 70px; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 60px;
}

.catalog-contant {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 268px 72px 1fr;
    grid-template-columns: 268px 1fr;
    -webkit-column-gap: 72px;
       -moz-column-gap: 72px;
            column-gap: 72px;
    padding-left: 60px;
}

.filter-sort {
    position: relative;
    width: 268px;
    background-color: var(--basic-grey-light);
    padding-top: 86px;
}

.filter-sort::before {
    position: absolute;
    content: "";
    top: 0;
    right: 100%;
    height: 100%;
    background-color: var(--basic-grey-light);
    width: 100vw;
}

.filters-title {
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.title-for-filter {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--for-filter);
    position: relative;
}

.sort-section::after {
    position: absolute;
    content: "";
    top: 0;
    left:100%;
    height: 100%;
    background-color: var(--basic-grey-light);
    width: 100vh;
    z-index: -1;
}

.title-for-filter::before {
    position: absolute;
    content: "";
    top: 0;
    right: 100%;
    height: 100%;
    background-color: var(--for-filter);
    width: 100vw;
    
}

.legent-title {
    position: relative;
    margin-bottom: 30px;
}

.legent-title::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 2px;
    background-color: var(--basic-black);
    top: -16px;
}

.price-range {
    margin-bottom: 38px;
    width: 200px;
}

.range-controls .scale {
    position: relative;
    height: 2px;
    background-color: var(--opacity-30);
  }

.range-controls {
    margin-bottom: 8px;
    padding-top: 8px;
  }

.range-controls .bar {
    width: 50%;
    height: 2px;
    background: var(--special-green);
  }

.range-controls .toggle {
    width: 20px;
    height: 20px;
    padding: 0;
    border: 8px solid var(--basic-white);
    border-radius: 50%;
    background-color: var(--basic-half-grey);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);

    position: absolute;
    top: 130px;
    left: 0;
    cursor: pointer;
  }

.range-controls .toggle-min {
    left: 0px;
}
  
.range-controls .toggle-max {
    left: 130px;
}

.price-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.price-controls label{
    text-align: left;
    width: 95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.price-controls input {
    text-align: left;
    width: 70px;
    padding: 10px 0;
    margin-left: 4px;
    text-align: left;
    border: none;
    background-color: var(--transparent);
    font-family: inherit;
    font-size: inherit;
    -moz-appearance: textfield;
  }

  .price-controls input::-webkit-outer-spin-button,
  .price-controls input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

.form-colors-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
}

.form-item {
    margin-bottom: 20px;
    margin-left: 42px;
}

.form-item label{
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:checked:focus + label::after,
.filter-input-radio:hover + label::before,
.filter-input-radio:checked:hover + label::after,
.filter-input-radio:focus + label::before,
.filter-input-radio:checked:focus + label::after
 {
    opacity: 60%;
}

.filter-input-checkbox:focus-visible + label,
.filter-input-radio:focus-visible + label {
    outline: 4px solid var(--basic-dark);
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
    width: 24px;
    height: 24px;
    border: 2px solid var(--basic-black);
    border-radius: 2px;
  }

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: 2px;
    left: -39px;
    width: 20px;
    height: 20px;
    background: url(../assets/svg/icon_check.svg) no-repeat center;
  }

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: -1px;
    width: 24px;
    height: 24px;
    border: 2px solid var(--basic-black);
    border-radius: 50%;
  }

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -34px;
    width: 8px;
    height: 8px;
    background-color: var(--basic-black);
    border-radius: 50%;
  }

.blutooth-form {
    margin-bottom: 45px;
    margin: 0;
    padding: 0;
}

.sort-section {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    padding-bottom: 25px;
    padding-top: 25px;
}

.sort-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Open sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 170px;
}

.sort-list li{
    margin-right: 30px;
}

.sort-list a {
    color: var(--basic-black);
    opacity: 30%;
}

.sort-list a:hover {
    color: var(--basic-black);
    opacity: 60%;
}

.sort-list a:active {
    color: var(--basic-black);
    opacity: 100%;
}

.sort-list .sort-active {
    opacity: 100%;
}

.sort-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.sort-nav-down a::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background: url(../assets/svg/icon_down.svg) no-repeat;
    top: -10px;
    left: -50px;
    opacity: 20%;
}

.sort-nav-up a::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background: url(../assets/svg/icon_down.svg) no-repeat;
    top: -10px;
    left: -20px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.sort-nav-up a:hover,
.sort-nav-down a:hover,
.sort-nav-up a:focus,
.sort-nav-down a:focus,
.sort-nav-up a:focus-within,
.sort-nav-down a:focus-within {
    opacity: 40%;
}

.sort-nav-up a:active,
.sort-nav-down a:active {
    opacity:    100%;
}

.filter-form {
    font-size: 14px;
    
    line-height: 19px;
    list-style: none;
    height: 100%;
}

.filter-form ul {
    list-style: none;
    cursor: pointer;
}

.price-controls {
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    cursor: pointer;
}

.filter-form legend {
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
}

.filter-input-checkbox:hover {
  opacity: 60%;
}

.filter-input-radio:hover {
    opacity: 60%;
  }

.form-fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.button-price {
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-button {
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    min-width: 200px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.button-compare {
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 50%;

}

.button-compare:hover {
    opacity: 100%;
}

.button-compare:active {
    opacity: 20%;
}

.product-options:focus-within,
.product-options:focus,
.product-options:hover {
    z-index: 1;
}

.products-card:focus-within .product-options,
.products-card:focus .product-options,
.products-card:hover .product-options {
    z-index: 1;
}

.product-options {
    width: 360px;
    height: 380px;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: -1;
    background-color: var(--special-card-overlay);
}

.products-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.products-title a {
    display: block;
    font-family: 'Gilroy', Arial, sans-serif;
    color: var(--basic-black);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    width: 210px;
}

.products-title span{
    font-family: 'Gilroy', Arial, sans-serif;
    color: var(--basic-black);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
}

.products-items {
    list-style: none;
    margin: 0;
    padding: 0;

    display: -ms-grid;

    display: grid;
    -ms-grid-columns: 1fr 40px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 40px;
}

.products-item {
    position: relative;
}

.product-new {
    position: absolute;
    top: 29px;
    right: 27px;
    content: "";
    width: 62px;
    height: 62px;
    border: 2px solid var(--basic-black);
    opacity: 30%;
    border-radius: 50%;

    font-family: 'Gilroy', Arial, sans-serif;;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    color: var(--basic-black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
}

.product-new-hidden {
    display: none;
}

.products-card {
    margin-bottom: 30px;
    position: relative;
}

.paginator {
    grid-column: 2/-1;
    background-color: var(--basic-grey-light);
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin-bottom: 78px;
}

.paginator-nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.button-nav {
    font-family: inherit;
    font-weight: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background-color: var(--basic-grey-light);

    padding: 25px 30px;
}

.button-nav:active {
    opacity: 30%;
}

.button-nav:hover {
    background-color: var(--basic-grey-buttons);
}

.paginator-nav-item {
    color: var(--basic-black);
    opacity: 30%;
}

.paginator-nav-item:hover {
    color: var(--basic-black);
    opacity: 60%;
}

.paginator-nav-item:active {
    color: var(--basic-black);
    opacity: 100%;
} 

.paginator-active {
    opacity: 100%;
    cursor: pointer;
}

/* Modal map */
.modal {
    position: fixed;
    -webkit-box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: var(--basic-white);
    z-index: 100;
}

.modal-btn {
    position: absolute;
    width: 55px;
    height: 55px;
    top: 29px;
    right: 29px;
    background: url(../assets/svg/icon_cross.svg) no-repeat center;
    background-color: var(--special-yellow);
    border: none;
    border-radius: 50%;
    opacity: 50%;
    cursor: pointer;
    z-index: 5;

}

.modal-btn:hover {
    opacity: 100%;
}

.modal-btn:active {
    opacity: 30%;
}

.modal-map {
    display: none;
    width: 960px;
    height: 572px;
}

.modal-map-open {
    display: block;
    -webkit-animation: form .5s;
            animation: form .5s;
}

.modal-scroll {
    height: 100%;
    overflow: hidden;
}

.modal-contacts {
    display: none;
    width: 960px;
    height: 550px;
}

.modal-contacts-open {
    display: block;
    -webkit-animation: form .5s;
            animation: form .5s;
}

.btn-form {
    border: none;
    width: 200px;
    background-image: -o-linear-gradient(bottom,
    var(--transparent) 16px,
    var(--special-light-yellow) 16px,
    var(--special-light-yellow) 24px,
    var(--transparent) 24px,
    var(--transparent) 40px);
    background-image: linear-gradient(to top,
    var(--transparent) 16px,
    var(--special-light-yellow) 16px,
    var(--special-light-yellow) 24px,
    var(--transparent) 24px,
    var(--transparent) 40px);
    background-color: var(--transparent);
}

.btn-form:hover {
    background-color: var(--special-light-yellow);
}

.form-field {
    margin-bottom: 32px;
}

.form-contant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 60px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 92px;
}


.form-field-input,
.form-field-textarea {
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 15px;
    color: var(--opacity-40);
    background-color: var(--special-grey);
    border: none;
}

.form-field-input:active,
.form-field-textarea:active {
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 15px;
    color: var(--opacity-40);
    background-color: var(--special-grey);
    border: none;
}

.form-field-input:hover,
.form-field-textarea:hover {
    background-color: var(--special-grey-hover);
}

.form-field-input:focus,
.form-field-textarea:focus {
    background-color: var(--basic-white);
    outline: 2px solid var(--special-light-yellow);
    color: var(--basic-dark);
}

.form-field-invalid {
    background-color: var(--status-color);
}

.form-field-textarea {
    resize: none;
    height: 167px;
    width: 760px;
    font: inherit;
    margin-bottom: 45px;
}

.form-field-input {
    width: 360px;
    font: inherit;
    font-size: 14px;
    line-height: 16px;
}

.form-field-label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}

@-webkit-keyframes form {
  0% { -webkit-transform: translateY(-1000%) translateX(-50%); transform: translateY(-1000%) translateX(-50%);}
  80% {-webkit-transform: translateY(-50%) translateX(-50%);transform: translateY(-50%) translateX(-50%);}
  90% {-webkit-transform: translateY(-55%) translateX(-50%);transform: translateY(-55%) translateX(-50%);}
  100% {-webkit-transform: translateY(-50%) translateX(-50%);transform: translateY(-50%) translateX(-50%);}
}

@keyframes form {
  0% { -webkit-transform: translateY(-1000%) translateX(-50%); transform: translateY(-1000%) translateX(-50%);}
  80% {-webkit-transform: translateY(-50%) translateX(-50%);transform: translateY(-50%) translateX(-50%);}
  90% {-webkit-transform: translateY(-55%) translateX(-50%);transform: translateY(-55%) translateX(-50%);}
  100% {-webkit-transform: translateY(-50%) translateX(-50%);transform: translateY(-50%) translateX(-50%);}
}